In [25]:
# 라이브러리 임포트 

import numpy as np
import pandas as pd

In [3]:
bilstm_data = pd.read_csv('/content/drive/MyDrive/BILSTM_label.csv')

In [4]:
dcnn_data = pd.read_csv('/content/drive/MyDrive/1DCNN_label.csv')

In [13]:
voting = pd.DataFrame({'sum_0':bilstm_data['0'] + dcnn_data['0'],
                             'sum_1':bilstm_data['1'] + dcnn_data['1'],
                             'sum_2':bilstm_data['2'] + dcnn_data['2']})

In [21]:
voting['pred_label'] = 0

In [22]:
voting.loc[voting.max(axis=1) == voting['sum_0'], "pred_label"] = 0
voting.loc[voting.max(axis=1) == voting['sum_1'], "pred_label"] = 1
voting.loc[voting.max(axis=1) == voting['sum_2'], "pred_label"] = 2

In [23]:
voting

           sum_0     sum_1     sum_2  pred_label
0       0.544335  0.753975  0.701691           1
1       0.544335  0.753975  0.701691           1
2       0.544335  0.753975  0.701691           1
3       0.544335  0.753975  0.701691           1
4       0.544335  0.753975  0.701691           1
...          ...       ...       ...         ...
104605  0.638530  0.626378  0.735092           2
104606  0.638530  0.626378  0.735092           2
104607  0.638530  0.626378  0.735092           2
104608  0.652043  0.611847  0.736110           2
104609  0.652043  0.611847  0.736110           2

[104610 rows x 4 columns]

In [30]:
bilstm_data = bilstm_data.drop(labels='pred_labels',axis=1)

In [31]:
ensamble_df = bilstm_data.join(voting['pred_label'],how='right')

In [32]:
ensamble_df

,Unnamed: 0,Date,Open,High,Low,Close,Volume,BTC_close,DXY,BTCD,...,Ethereum DeFi,News_freq,signal,0,1,2,sum_0,sum_1,sum_2,pred_label
0,0,2022-01-09 20:55:00,3934000,3934000,3931000,3933000,7.091395,52343000.0,95.739,40.435605,...,1.401528e+11,26.0,1.0,0.267247,0.387458,0.345295,0.544335,0.753975,0.701691,1
1,1,2022-01-09 20:56:00,3933000,3935000,3931000,3932000,14.144101,52315000.0,95.739,40.435605,...,1.401528e+11,26.0,1.0,0.267247,0.387458,0.345295,0.544335,0.753975,0.701691,1
2,2,2022-01-09 20:57:00,3932000,3934000,3930000,3933000,19.051929,52313000.0,95.739,40.435605,...,1.401528e+11,26.0,1.0,0.267247,0.387458,0.345295,0.544335,0.753975,0.701691,1
3,3,2022-01-09 20:58:00,3933000,3935000,3930000,3935000,11.908381,52313000.0,95.739,40.435605,...,1.401528e+11,26.0,1.0,0.267247,0.387458,0.345295,0.544335,0.753975,0.701691,1
4,4,2022-01-09 20:59:00,3935000,3936000,3934000,3935000,7.690722,52292000.0,95.739,40.435605,...,1.401528e+11,26.0,1.0,0.267247,0.387458,0.345295,0.544335,0.753975,0.701691,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104605,104605,2022-03-23 15:05:00,3662000,3664000,3660000,3662000,29.579468,51697000.0,98.793,42.584513,...,1.159212e+11,57.0,2.0,0.308950,0.347495,0.343555,0.638530,0.626378,0.735092,2
104606,104606,2022-03-23 15:06:00,3662000,3666000,3661000,3664000,31.708145,51710000.0,98.793,42.584513,...,1.159212e+11,57.0,2.0,0.308950,0.347495,0.343555,0.638530,0.626378,0.735092,2
104607,104607,2022-03-23 15:07:00,3665000,3669000,3664000,3666000,42.205886,51745000.0,98.793,42.584513,...,1.159212e+11,57.0,2.0,0.308950,0.347495,0.343555,0.638530,0.626378,0.735092,2
104608,104608,2022-03-23 15:08:00,3664000,3666000,3663000,3665000,20.221637,51731000.0,98.793,42.584513,...,1.159212e+11,57.0,2.0,0.322463,0.332964,0.344573,0.652043,0.611847,0.736110,2
104609,104609,2022-03-23 15:09:00,3666000,3666000,3664000,3664000,34.800540,51744000.0,98.793,42.584513,...,1.159212e+11,57.0,2.0,0.322463,0.332964,0.344573,0.652043,0.611847,0.736110,2

In [33]:
ensamble_df.to_csv('bilstm_1dcnn_ensamble.csv')