In [87]:
# 라이브러리 임포트 

import numpy as np
import pandas as pd

In [88]:
bilstm_data = pd.read_csv('/content/drive/MyDrive/BILSTM_label.csv')

In [89]:
RF_data = pd.read_csv('/content/drive/MyDrive/RF_Feature selection.csv')

In [90]:
RF_data = RF_data.iloc[-len(bilstm_data):]

In [91]:
RF_data = RF_data.drop(['Unnamed: 0'],axis=1)
RF_data = RF_data.drop(['RF_Predicted_label'],axis=1)

In [92]:
bilstm_data

,Unnamed: 0,Date,Open,High,Low,Close,Volume,BTC_close,DXY,BTCD,Kimchi_premium,S&P500,Ethereum DeFi,News_freq,signal,pred_labels,0,1,2
0,0,2022-01-09 20:55:00,3934000,3934000,3931000,3933000,7.091395,52343000.0,95.739,40.435605,-12.94548,4677.04,1.401528e+11,26.0,1.0,1,0.267247,0.387458,0.345295
1,1,2022-01-09 20:56:00,3933000,3935000,3931000,3932000,14.144101,52315000.0,95.739,40.435605,-12.94548,4677.04,1.401528e+11,26.0,1.0,1,0.267247,0.387458,0.345295
2,2,2022-01-09 20:57:00,3932000,3934000,3930000,3933000,19.051929,52313000.0,95.739,40.435605,-12.94548,4677.04,1.401528e+11,26.0,1.0,1,0.267247,0.387458,0.345295
3,3,2022-01-09 20:58:00,3933000,3935000,3930000,3935000,11.908381,52313000.0,95.739,40.435605,-12.94548,4677.04,1.401528e+11,26.0,1.0,1,0.267247,0.387458,0.345295
4,4,2022-01-09 20:59:00,3935000,3936000,3934000,3935000,7.690722,52292000.0,95.739,40.435605,-12.94548,4677.04,1.401528e+11,26.0,1.0,1,0.267247,0.387458,0.345295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104605,104605,2022-03-23 15:05:00,3662000,3664000,3660000,3662000,29.579468,51697000.0,98.793,42.584513,15.24980,4488.22,1.159212e+11,57.0,2.0,2,0.308950,0.347495,0.343555
104606,104606,2022-03-23 15:06:00,3662000,3666000,3661000,3664000,31.708145,51710000.0,98.793,42.584513,15.24980,4488.22,1.159212e+11,57.0,2.0,2,0.308950,0.347495,0.343555
104607,104607,2022-03-23 15:07:00,3665000,3669000,3664000,3666000,42.205886,51745000.0,98.793,42.584513,15.24980,4488.22,1.159212e+11,57.0,2.0,2,0.308950,0.347495,0.343555
104608,104608,2022-03-23 15:08:00,3664000,3666000,3663000,3665000,20.221637,51731000.0,98.793,42.584513,15.24980,4488.22,1.159212e+11,57.0,2.0,2,0.322463,0.332964,0.344573
104609,104609,2022-03-23 15:09:00,3666000,3666000,3664000,3664000,34.800540,51744000.0,98.793,42.584513,15.24980,4488.22,1.159212e+11,57.0,2.0,2,0.322463,0.332964,0.344573

In [93]:
RF_data

        RF_Down Day   RF_Stay  RF_Up day
51987      0.286741  0.293097   0.420162
51988      0.342620  0.311879   0.345502
51989      0.311439  0.275798   0.412763
51990      0.277701  0.323102   0.399197
51991      0.250707  0.319951   0.429342
...             ...       ...        ...
156592     0.128586  0.266224   0.605190
156593     0.132354  0.249053   0.618592
156594     0.097495  0.257780   0.644725
156595     0.097688  0.227517   0.674795
156596     0.133763  0.213384   0.652853

[104610 rows x 3 columns]

In [94]:
index = bilstm_data.index
RF_data .index = index

In [95]:
voting = pd.DataFrame({'sum_0':bilstm_data['0'] + RF_data['RF_Up day'],
                             'sum_1':bilstm_data['1'] + RF_data['RF_Down Day'],
                             'sum_2':bilstm_data['2'] + RF_data['RF_Stay']})

In [96]:
voting['pred_label'] = 0

In [97]:
voting.loc[voting.max(axis=1) == voting['sum_0'], "pred_label"] = 0
voting.loc[voting.max(axis=1) == voting['sum_1'], "pred_label"] = 1
voting.loc[voting.max(axis=1) == voting['sum_2'], "pred_label"] = 2

In [98]:
voting

           sum_0     sum_1     sum_2  pred_label
0       0.687409  0.674199  0.638392           0
1       0.612749  0.730078  0.657173           1
2       0.680010  0.698898  0.621093           1
3       0.666444  0.665159  0.668396           2
4       0.696589  0.638165  0.665245           0
...          ...       ...       ...         ...
104605  0.914139  0.476081  0.609779           0
104606  0.927542  0.479849  0.592609           0
104607  0.953674  0.444990  0.601336           0
104608  0.997258  0.430652  0.572091           0
104609  0.975316  0.466727  0.557957           0

[104610 rows x 4 columns]

In [99]:
bilstm_data = bilstm_data.drop(labels='pred_labels',axis=1)

In [100]:
ensamble_df = bilstm_data.join(voting['pred_label'],how='right')

In [101]:
ensamble_df = ensamble_df.join(voting['sum_0'],how='right') 
ensamble_df = ensamble_df.join(voting['sum_1'],how='right') 
ensamble_df = ensamble_df.join(voting['sum_2'],how='right') 
ensamble_df = ensamble_df.drop(labels='0',axis=1)
ensamble_df = ensamble_df.drop(labels='1',axis=1)
ensamble_df = ensamble_df.drop(labels='2',axis=1)

In [102]:
ensamble_df

,Unnamed: 0,Date,Open,High,Low,Close,Volume,BTC_close,DXY,BTCD,Kimchi_premium,S&P500,Ethereum DeFi,News_freq,signal,pred_label,sum_0,sum_1,sum_2
0,0,2022-01-09 20:55:00,3934000,3934000,3931000,3933000,7.091395,52343000.0,95.739,40.435605,-12.94548,4677.04,1.401528e+11,26.0,1.0,0,0.687409,0.674199,0.638392
1,1,2022-01-09 20:56:00,3933000,3935000,3931000,3932000,14.144101,52315000.0,95.739,40.435605,-12.94548,4677.04,1.401528e+11,26.0,1.0,1,0.612749,0.730078,0.657173
2,2,2022-01-09 20:57:00,3932000,3934000,3930000,3933000,19.051929,52313000.0,95.739,40.435605,-12.94548,4677.04,1.401528e+11,26.0,1.0,1,0.680010,0.698898,0.621093
3,3,2022-01-09 20:58:00,3933000,3935000,3930000,3935000,11.908381,52313000.0,95.739,40.435605,-12.94548,4677.04,1.401528e+11,26.0,1.0,2,0.666444,0.665159,0.668396
4,4,2022-01-09 20:59:00,3935000,3936000,3934000,3935000,7.690722,52292000.0,95.739,40.435605,-12.94548,4677.04,1.401528e+11,26.0,1.0,0,0.696589,0.638165,0.665245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104605,104605,2022-03-23 15:05:00,3662000,3664000,3660000,3662000,29.579468,51697000.0,98.793,42.584513,15.24980,4488.22,1.159212e+11,57.0,2.0,0,0.914139,0.476081,0.609779
104606,104606,2022-03-23 15:06:00,3662000,3666000,3661000,3664000,31.708145,51710000.0,98.793,42.584513,15.24980,4488.22,1.159212e+11,57.0,2.0,0,0.927542,0.479849,0.592609
104607,104607,2022-03-23 15:07:00,3665000,3669000,3664000,3666000,42.205886,51745000.0,98.793,42.584513,15.24980,4488.22,1.159212e+11,57.0,2.0,0,0.953674,0.444990,0.601336
104608,104608,2022-03-23 15:08:00,3664000,3666000,3663000,3665000,20.221637,51731000.0,98.793,42.584513,15.24980,4488.22,1.159212e+11,57.0,2.0,0,0.997258,0.430652,0.572091
104609,104609,2022-03-23 15:09:00,3666000,3666000,3664000,3664000,34.800540,51744000.0,98.793,42.584513,15.24980,4488.22,1.159212e+11,57.0,2.0,0,0.975316,0.466727,0.557957

In [103]:
ensamble_df.to_csv('RF_Bilstm_Ensamble.csv')

In [107]:
ensamble_df['pred_label'].value_counts()

0    63858
1    23504
2    17248
Name: pred_label, dtype: int64